*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ files
.idea/
target/
.classpath
.project
.settings/
.metadata/

.DS_Store

# Eclipse files used for examples
examples/3DS2-end-to-end/.settings
examples/3DS2-end-to-end/build
examples/3DS2-end-to-end/.classpath
examples/3DS2-end-to-end/.gitignore
examples/3DS2-end-to-end/.project
examples/3DS2-end-to-end/src/main/webapp/META-INF
# END Eclipse files used for examples


